page-home {
    .positive-bg {
    background-color: rgb(56, 126, 245);
}


.inicio{
    background-color:#d4d4d4;
}
.inicio .row{
    padding:0;
}

.inicio .has-header {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px; }
}
