page-intro {
.tutorial-page .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 18px 0;
}

.button-skip {
    color: #488aff;
    background-color: transparent;
    border: none;
    font-weight: bold;
}
}
